<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
  <div class="container">
      <div class="navbar-brand">
          <span class="navbar-logo">
              <a href="/">
                  <img src="assets/images/icons8-environment-care-100.png" alt="Mobirise" style="height: 3rem;">
              </a>
          </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Ventprise Financials</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/your-needs">
                      Your needs</a></li>
              <li class="nav-item"><a class="nav-link link text-black display-4" href="/our-solution">
                      Our solution</a></li>
              <li class="nav-item"><a class="nav-link link text-black display-4" href="/about" aria-expanded="true">About us</a>
              </li></ul>
          
          <div class="navbar-buttons mbr-section-btn"><a class="btn btn-secondary display-4" href="/users/login">
                  Log in</a> <a class="btn btn-secondary display-4" href="/users/register">
                  Sign Up</a></div>
      </div>
  </div>
</nav>