<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-environment-care-100.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t3fDr15HCG" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>

<section class="header6 cid-t3ggbjMs6a" id="header6-s">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(6, 99, 75);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>About us</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    We’re a holistic financial services organization driven by a higher purpose, helping you make the most of all you’ve been given.
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t3gglfin3s" id="features16-t">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Who we are</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">We are a holistic financial services organization, providing financial advice, investments, insurance, banking and generosity programs to help our clients make the most of all they’ve been given.<br></p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/5.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t3ggm09SiD" id="features17-u">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/product7.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Empowering generosity &amp; communities</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            At Ventptise, extending generosity isn’t an afterthought. It’s a core component of our culture—a key piece of what we’ve delivered to our clients for more than 100 years. We’re here to help people make the most of all they’ve been given. Because of our organization’s unique structure, we can equip our clients—and our own team members—with a range of resources to help them lift up the causes and communities they care about.</p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t3ggmqfLjt" id="features16-v">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Contact us</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Talk to a real person, request information or connect with us. We're here for you.<br>We are here to help guide you,<br>answer your questions and do<br>everything we can to make the claims process simple and straightforward.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/contact">See More</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/download-12.webp" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-t3fPWwUkvh" once="footers" id="footer1-7">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/v" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/i" style="color:#aaa;">Built with Mobirise</a> free maker</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>