<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-environment-care-100.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t3fDr15HCG" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>

<section class="content4 cid-t3CsXlRKOr" id="content4-1r">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>How to manage and overcome financial anxiety</strong></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="image3 cid-t3CsYGsnV8" id="image3-1s">
    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="image-wrapper">
                    <img src="assets/images/download-6.webp" alt="Mobirise">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content5 cid-t3Ct0pCUEb" id="content5-1t">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">Making purposeful financial decisions</h4>
                <p class="mbr-text mbr-fonts-style display-7">How do you think about your long-term goals? When seeking financial guidance, most financial services companies will help you create a plan with the accumulation of money as the end goal. Others aim to help you become financially independent. At Thrivent, we strive to help you achieve financial clarity—<br>because clarity is the first step to achieving all your goals.<br><br>Striving for financial independence is a worthwhile pursuit, but without defining clear goals at the beginning of your journey, it's easy for true financial independence to remain a lofty aspiration.<br><br>And with only 30% of Americans claiming to have a long-term financial plan, and 29% of households age 55 and over living without retirement savings or a pension, striving for financial independence can feel out of reach.<br><br>Before we set out to retire early or triple our savings, we like to consider how you want to live your life. Working with a partner to think about how your goals support your broader desires and how to live out your purpose can help you take more inspired action and stick to a plan. That's the first step to developing financial clarity, or the ability to see where you stand, where you want to go, and the right steps to make it happen.<br><br>When connecting with our clients, our goal is to help you create a path to financial clarity that's easy to follow and holds true to what you care about. And we continue to support clients on their path by committing to three steps:</p>
            </div>
        </div>
    </div>
</section>

<section class="content5 cid-t3Ct0Y5grc" id="content5-1u">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">1. We view money as a tool, rather than a goal</h4>
                <p class="mbr-text mbr-fonts-style display-7">We understand that you're investing in your future because you have something more meaningful in mind than money for the sake of itself. "It's great to have $10 million in your investment account, but at the end of the day, that doesn't mean anything," says Nick Romero, a financial advisor. "What means something is being able to go, and spend, and give, and be generous, and help people, and take care of your family. That is the end game right there. It's experiences. It's enjoying your life and being comfortable, and being able to sleep at night, knowing that you did what was best for your family, and your future, and future generations."<br><br>When you partner with someone who understands your priorities and personal needs, you can take advantage of money as a tool to focus your goals based on what's most important to you. And, with supportive conversations and resources helping you stay on track, you'll find it's much easier —and incredibly fulfilling—to commit to a financial strategy wholeheartedly.</p>
            </div>
        </div>
    </div>
</section>

<section class="content5 cid-t3Ct1xzXwW" id="content5-1v">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">2. We help clients find financial clarity through purpose-based financial planning<div><br></div></h4>
                <p class="mbr-text mbr-fonts-style display-7">What lights you up? We want to know. Because that sense of purpose frames every decision you make, including financial decisions. "Really, when we start this conversation of how we develop a plan, it really starts with the dreaming phase. What do you want your life to look like? What do you want your life to look like in 5 years, 10 years, 20 years? And what do you want it to look like in retirement," says Karli Finney, a financial advisor with Thrivent.<br><br>Through our purpose-based model, we help you connect your higher purpose and values to your financial goals, so you can feel confident that your financial decisions are leading to a meaningful life today and in the future.</p>
            </div>
        </div>
    </div>
</section>

<section class="content5 cid-t3Ct229baT" id="content5-1w">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                
                <h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">3. We prioritize clients' success through authentic, enduring relationships</h4>
                <p class="mbr-text mbr-fonts-style display-7">As a holistic financial services organization, and as a membership-owned fraternal organization, we develop strong relationships with our clients, so we can better understand the bigger picture of your life, what's guiding your decisions and how we can best support your goals.<br><br>"I start off every meeting, in a new client relationship, with 'Who are you doing this for? Why are you taking this meeting? Who do you love? Who do you care about? Tell me about your family. I want to know. I want to know what's motivating you.' Once [a client] starts talking about their family, they light up. They love their families, and that's what's driving them," says Nick Romero.<br><br>We seek to understand the real you and how you want to live out your purpose, engaging in philosophical conversations about life and the services that support yours. We shed light on successes and opportunities so you can invest in meaningful pursuits and build a full and vibrant life now and in the future.<br><br></p>
            </div>
        </div>
    </div>
</section>





<section class="footer1 cid-t3fPWwUkvh" once="footers" id="footer1-7">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/v" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/i" style="color:#aaa;">Built with Mobirise</a> free maker</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>