<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-environment-care-100.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t3fDr15HCG" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>
<section class="header6 cid-t3CIrk0Pu8" id="header6-2f">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0)"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Managed accounts</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Personalized attention—and the experience of financial professionals—combine to help you pursue your investment goals.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-info display-4" href="/users/register">Create an account!</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t3CID0gO4n" id="features16-2g">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Put investment professionals to work—in your best interest</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">What are managed accounts?<br>Managed accounts are financial portfolios that you own, but they're managed by an investment professional (your Thrivent financial advisor or another designated portfolio manager). Managed account portfolio managers are required to act in your best interest. They may buy and sell assets within the managed account as long as—depending on the type of managed account you select—you approve those decisions, or they're guided by your goals.<br><br>Who are they for?<br>Managed accounts can be a good fit for individuals and families who prefer to have their investments monitored and managed by experienced financial professionals. Managed accounts might not appeal to people who prefer a DIY approach to investing.<br><br>How are they used?<br>People choose managed accounts as a way to help save for retirement, plan for education costs, establish a legacy and pursue other lifelong financial goals.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/bar-graph-person-mint-480x360.svg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t45Givzo1K" id="features16-2h">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Get insights from your financial advisor</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Your Thrivent financial advisor assesses your overall investment strategy, helps you understand how managed accounts might help you reach your goals, and provides information about your available options.<br><br>If you’re uncertain whether a managed account is right for you at this time, your Thrivent financial advisor can also help you explore other solutions to address your financial needs.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/download-17.webp" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t45GE23CGA" id="features17-2i">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/download-18.webp" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><strong>Get insights from your financial advisor</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">At Thrivent, we understand that your rate of return may be only part of the equation. We help you find managed accounts that align with all your priorities—and reflect your most closely held values.<br><br>For example, you may favor socially responsible investments that have environmental, social and corporate governance (ESG) impacts. Or, you may want a managed account to help you support loved ones—or an organization or cause you care about.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">
                                Learn more
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t45GEngGhQ" id="features16-2j">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Compare your managed account options</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Thrivent offers a variety of managed account programs to choose from. So, you can select one that fits your unique needs and carries a level of financial risk that you’re comfortable taking on.<br><br>The investment assets in some managed accounts are recommended or determined by your Thrivent financial advisor. For other accounts, those decisions are made by third-party portfolio managers.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/download-19.webp" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header11 cid-t45HY9FOob" id="header11-2k">

    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 image-wrapper">
                <img class="w-100" src="assets/images/conversation-mint-348x400.svg" alt="Mobirise">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper text-center">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>Personalized advice leads to informed investment decisions</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">Discuss managed accounts (and more) with<br>a Ventprise financial advisor.<br></p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-7" href="/users/register">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer1 cid-t3fPWwUkvh" once="footers" id="footer1-7">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/v" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/i" style="color:#aaa;">Built with Mobirise</a> free maker</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>