<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-environment-care-100.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t3fDr15HCG" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>

<section class="header6 cid-t3CCBUzPnF" id="header6-28">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><br><div><strong>A bit of forward thinking can go a long way.</strong></div></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Big or small, every financial journey starts with the first step. Take yours here.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">get started&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="info2 cid-t3CF1RQr8O" id="info2-29">
    
    
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="wrapper">
                    
                    <p class="mbr-text mb-4 mbr-fonts-style display-5">
                        Flexibility, choice and the freedom to keep moving toward your goals.</p>
                    <div class="mbr-section-btn"><a class="btn btn-white display-4" href="/users/register">Visit Help Center</a></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="wrapper">
                    
                    <p class="mbr-text mbr-fonts-style mb-4 display-5">
                        Discover a variety of mutual funds to help you build a diversified portfolio and invest with confidence.</p>
                    <div class="mbr-section-btn"><a class="btn btn-white display-4" href="/users/register">Browse our funds</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t3CFh4bP4D" id="features16-2a">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>What’s your style?</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Knowing how comfortable you are with financial risk can help guide you to funds that may fit well with your personal investment style.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Get Started&nbsp;</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-ketut-subiyanto-4245923-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info3 cid-t3CFtsZd8I" id="info3-2b">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(68, 121, 217);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2"><strong>Start investing with as little as $50 a month.</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            With as little as $50 a month, you can open an account with us and start investing in your future.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Start Investing</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t3CFIDr4Zx" id="features16-2c">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Our funds are actively managed by real people, for real people.</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            We're hands-on and all-in, with portfolio fund managers that actively track numbers, trends and investment objectives. It's all part of our investment philosophy that puts performance first, understanding what actions to take next and what that means for you.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="/users/register">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-ketut-subiyanto-4246228-980x1470.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer1 cid-t3fPWwUkvh" once="footers" id="footer1-7">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/v" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/i" style="color:#aaa;">Built with Mobirise</a> free maker</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>