<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-environment-care-100.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-t3fDr15HCG" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>
<section class="header6 cid-t45IQSILLb" id="header6-2n">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Trust services</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">As your needs change, so should your tools to meet them. Thrivent Trust Company provides trust and investment management solutions to help you achieve goals and make the most of all you’ve been given.<br></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="https://mobiri.se">Get Started&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t45JWVfTCt" id="features16-2o">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>About Ventprise Trust Company</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">A proud part of Ventprise<br>A proud part of our organization, Ventprise Trust Company has more than $10 billion of assets under management and advisement as of December 31, 2019.<br><br>Expertise to guide you<br>Our experienced professionals will guide you through the process, serve as a trustee for a variety of trusts, and act in a fiduciary capacity through court appointment as a personal representative, executor, guardian or conservator.<br><br>Your investment goals, our guidance<br>We provide advice tailored to your unique needs and goals. We’ll help you manage your investments, identify investment options for your goals, position your portfolio to reach your goals and screen investment selections.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="https://mobiri.se">Get Started&nbsp;</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/download-9.webp" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t45Ld8vxFG" id="features16-2p">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><div><br></div><div><strong>Bill paying services</strong></div></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Whether you're a busy retiree or a caregiver with a family of your own, time is precious. Use the SIMPLIFY program for personal financial management. It combines the convenience of bill paying, cash management, income collection, and detailed record keeping. We help relieve you from these duties so you can enjoy your life and the people in it.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="https://mobiri.se">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/fined-money-shapes.svg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-t45Le9WBeV" id="features17-2q">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="image-wrapper">
                        <img src="assets/images/insurance-drawhouse.svg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5"><div><br></div><div><strong>Estate settlement</strong></div></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Losing a loved one is an emotional journey. Imagine your heirs having to settle your estate. The process can be complicated, unsettling and take as long as 18 months—and sometimes even longer—to complete. We can help your loved ones navigate this trying time. Count on us to help your loved ones finalize details, so they can focus on what matters.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-info display-4" href="https://mobiri.se">
                                Learn more
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-t45LeF8Spb" id="features16-2r">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2"><strong>Private client services</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">As your net worth grows, your portfolio and the risks associated with it become more complex. We’ll help you understand your risks. We’ll also help grow and protect your wealth. Together, we’ll evaluate what matters most to you and provide resources that help put your values into action.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="https://mobiri.se">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/charts-graphs-pie.svg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features23 cid-t45Mx04HXp" id="features23-2t">

    

    
    <div class="container">
        <div class="card-wrapper">
            <div class="card-box align-left">
                <h4 class="mbr-section-title mbr-fonts-style display-2"><strong>A growing need for trust services</strong></h4>
                <p class="mbr-text mbr-fonts-style display-7">
                    Millions of people in the United States are, or will soon be, in a position to benefit from trust services.</p>
                
            </div>
        </div>
        <!-- col-12 col-md-6 col-lg-4 -->
        <div class="row justify-content-center content-row mt-4">
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong>54%</strong><strong><br></strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>of caregivers helps love ones manage their financials&nbsp;</strong></h4>
                    
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong>44%.</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7"><strong>Of U.S. assets are said to be held by people aged 65+ by 2040</strong></h4>
                    
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong>78%</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Of high-net-worth Americans make charitable gifts&nbsp;</strong></h4>
                    
                </div>
            </div>
            <div class="card p-4 p-md-3 col-md-6 col-lg-3">
                <div class="card-box">
                    <div class="title">
                        <span class="num mbr-fonts-style display-1"><strong>55%</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-7">
                        <strong>Of Americans don't have a will or estate plan at the time of their death&nbsp;</strong></h4>
                    
                </div>
            </div>
            
            
            
            
        </div>
    </div>
</section>

<section class="footer1 cid-t3fPWwUkvh" once="footers" id="footer1-2m">

    
    
    <div class="container">
        <div class="row mbr-white">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Mobirise Help</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Help Center</li>
                    <li class="mbr-text item-wrap">Mobirise Forums</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                    <li class="mbr-text item-wrap">Our site</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Themes</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">

                    <li class="mbr-text item-wrap">Mobirise 5</li>
                    <li class="mbr-text item-wrap">Mobirise AMP</li>
                    <li class="mbr-text item-wrap">Mobirise Kit</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Extensions</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Code Editor</li>
                    <li class="mbr-text item-wrap">Form Builder</li>
                    <li class="mbr-text item-wrap">Popup Builder</li>
                    <li class="mbr-text item-wrap">Enterprise</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">
                    Mobirise is a free offline app for
                    Windows and Mac to easily create small/medium websites, landing pages, online resumes and
                    portfolios.</p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Social</strong>
                </h5>
                <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitter"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/t" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Made with <a href="https://mobirise.site/a" style="color:#aaa;">Mobirise</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
</body>
</html>